<!DOCTYPE html>

{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Lunchbox</title>
    <link rel="stylesheet" href="{% static 'css/homestyle.css' %}" />
</head>
<body>
    <div class="center-panel">
       <img class="logo" src="{% static 'img/logo.png' %}" />
       <div class="slogan">MAKE YOUR LIFE EASIER</div>
       <img class="happy" src="{% static 'img/happy.png' %}" />
       <img class="app-store" src="{% static 'img/available.png' %}" />
       <div class="trademark">LUNCH BOX © 2014</div>
    </div>
</body>
</html>